/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/* Prevent white space on the right side to appear when screensize is small */
html, body {
     min-width: 100%;
     min-height: 100%;
     margin: 0px;
     padding: 0px;
     overflow-x: hidden;
}

/* Font size */
html {
     font-size: 62.5%;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

table {
     border-collapse: collapse;
}
th, td {
     border: 1px solid black;
}